#input_div{
    margin: 5px;
    margin-top: 10px;
}
#select_1{
    margin: 5px;
    display: flex;
    margin-top: 10px;
}
#select_2{
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#result{
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#root{
    margin: 5px;
    margin-top: 10px;
    height: 15px;
}